
html {
  width
}


body {
  font-family: arial;
  background-color: #2a2a2a;
  color: white;
}

.player-title {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  margin-top: 0;
  
}


.saperate {   /* styles for saperator that saperates the page name from content */
  border-width: 2px;
  border-style: solid;
}


.player-image {   /* styles for main image of the player */
  width: 43% !important;
  margin-left: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.audio-player {  /* adjusting size of the player */
  width: 70%px;
}


.title {    /* name of the song */
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 28px;
}

.listen-yt {   /* source button image */
  width: 20px;
  background-color: black;
}


.listen-yt-button {    /* source video button */
  background-color: black;
  color: white;
  box-shadow: 3px 2px 3px white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  transition: box-shadow 0.15s, margin 0.15s;
  user-select: none;
}

.listen-yt-button:active {    /* adding animation to source video button */
  
  box-shadow: none;
  margin-top: 1px;
}


/* Add this to align vertically */
button > img,
button > span {
  vertical-align: middle;

