.tahoma {  /*tahoma font*/
  font-family: tahoma;
  font-size: 18px;
  font-weight: bold;
}

.big-deals {  /*big deals text*/
  font-family: arial;
  font-size: 21px;
  font-weight: bold;
  margin-botton: 0;
}


.sale-day {  /*sale day text*/
  color: red;
  font-decoration: none;
  text-size: 13px;
  font-family: arial;
  margin-top: 0;
}
